## The prepare steps include the following: <br>
### Merge world countries list with world GDP to<br>
- remove unwanted countries name in the dataset 
- validate the counties list 
- And ensure data integrity <br>
### Create a column to specify:
- oil exporting countries from
- Non-oil exporting countries

In [15]:
import pandas as pd # for data manipulation
import csv # for csv file reading and exporting

In [2]:
countries_name_list = pd.read_csv("/home/ridwanullahi/Desktop/Work_Space/Play/oil-impact/data/processed/country/countries_list/world_countries_list.csv") # read country name list 
countries_name_list.info() # check the info of the data frame
countries_name_list.head(10) # check the first 10 rows of the data frame
# select row where country name is aruba from the country name list
#countries_name_list[countries_name_list['country_name'] == 'Aruba']
# sort the country name list by country code
#countries_name_list_v1 = countries_name_list.sort_values(by=['country_code'])
#countries_name_list_v1.head(10) # check the first 10 rows of the data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  250 non-null    object
 1   country_code  250 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

          country_name country_code
0          Afghanistan          AFG
1        Åland Islands          ALA
2              Albania          ALB
3              Algeria          DZA
4       American Samoa          ASM
5              Andorra          AND
6               Angola          AGO
7             Anguilla          AIA
8           Antarctica          ATA
9  Antigua and Barbuda          ATG

In [3]:
gdp_world = pd.read_csv("/home/ridwanullahi/Desktop/Work_Space/Play/oil-impact/data/processed/gdp/world/gdp_world_cleaned_v1.csv")
gdp_world.head(10) # check the head of the data frame

,country_name,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current US$),1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09,2.469832e+09,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),2.847593e+11,2.596431e+11,2.665294e+11,3.541768e+11,4.404818e+11,5.139416e+11,5.775869e+11,...,9.859871e+11,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12
2,Afghanistan,AFG,GDP (current US$),NaN,NaN,3.854235e+09,4.539497e+09,5.220825e+09,6.226199e+09,6.971383e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),1.409458e+11,1.485295e+11,1.772012e+11,2.052145e+11,2.542648e+11,3.108896e+11,3.969210e+11,...,8.339481e+11,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11
4,Angola,AGO,GDP (current US$),9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11
5,Albania,ALB,GDP (current US$),3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,7.184686e+09,8.052077e+09,8.896075e+09,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10
6,Andorra,AND,GDP (current US$),1.429048e+09,1.546912e+09,1.755990e+09,2.361636e+09,2.895048e+09,3.159827e+09,3.456265e+09,...,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09
7,Arab World,ARB,GDP (current US$),8.201856e+11,8.028811e+11,8.079616e+11,8.938180e+11,1.062737e+12,1.304401e+12,1.545539e+12,...,2.859669e+12,2.905733e+12,2.554156e+12,2.537537e+12,2.637112e+12,2.843476e+12,2.868891e+12,2.533377e+12,2.928456e+12,3.557557e+12
8,United Arab Emirates,ARE,GDP (current US$),1.043374e+11,1.033116e+11,1.098162e+11,1.243464e+11,1.478244e+11,1.806175e+11,2.221165e+11,...,4.002185e+11,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11
9,Argentina,ARG,GDP (current US$),2.842038e+11,2.686968e+11,9.772400e+10,1.275870e+11,1.646579e+11,1.987371e+11,2.325573e+11,...,5.520251e+11,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11

In [8]:
# merge the country name list with the gdp world data frame together on the country code column to validate and ensure correct countries name in the column column from the gdp countries list
gdp_world_v1 = pd.merge(gdp_world, countries_name_list, on='country_code', how='inner', suffixes= (None, "_y"))
gdp_world_v1.head(10) # check the head of the data frame

,country_name,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,country_name_y
0,Aruba,ABW,GDP (current US$),1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09,2.469832e+09,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,Aruba
1,Afghanistan,AFG,GDP (current US$),NaN,NaN,3.854235e+09,4.539497e+09,5.220825e+09,6.226199e+09,6.971383e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,Afghanistan
2,Angola,AGO,GDP (current US$),9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,Angola
3,Albania,ALB,GDP (current US$),3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,7.184686e+09,8.052077e+09,8.896075e+09,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10,Albania
4,Andorra,AND,GDP (current US$),1.429048e+09,1.546912e+09,1.755990e+09,2.361636e+09,2.895048e+09,3.159827e+09,3.456265e+09,...,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09,Andorra
5,United Arab Emirates,ARE,GDP (current US$),1.043374e+11,1.033116e+11,1.098162e+11,1.243464e+11,1.478244e+11,1.806175e+11,2.221165e+11,...,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11,United Arab Emirates
6,Argentina,ARG,GDP (current US$),2.842038e+11,2.686968e+11,9.772400e+10,1.275870e+11,1.646579e+11,1.987371e+11,2.325573e+11,...,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11,Argentina
7,Armenia,ARM,GDP (current US$),1.911564e+09,2.118468e+09,2.376335e+09,2.807061e+09,3.576615e+09,4.900470e+09,6.384452e+09,...,1.160951e+10,1.055334e+10,1.054614e+10,1.152746e+10,1.245794e+10,1.361929e+10,1.264170e+10,1.386141e+10,1.950278e+10,Armenia
8,American Samoa,ASM,GDP (current US$),NaN,NaN,5.120000e+08,5.240000e+08,5.090000e+08,5.000000e+08,4.930000e+08,...,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.160000e+08,7.090000e+08,NaN,American Samoa
9,Antigua and Barbuda,ATG,GDP (current US$),8.263704e+08,8.004815e+08,8.143815e+08,8.563963e+08,9.197296e+08,1.022963e+09,1.157663e+09,...,1.249733e+09,1.336693e+09,1.436585e+09,1.467956e+09,1.604770e+09,1.675404e+09,1.416348e+09,1.560519e+09,1.757604e+09,Antigua and Barbuda

In [9]:
gdp_world_v2 = gdp_world_v1.drop(['country_name_y'], axis=1) # drop the column named country_name_y
gdp_world_v2.head(10) # check the head of the data frame

,country_name,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current US$),1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09,2.469832e+09,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Afghanistan,AFG,GDP (current US$),NaN,NaN,3.854235e+09,4.539497e+09,5.220825e+09,6.226199e+09,6.971383e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
2,Angola,AGO,GDP (current US$),9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11
3,Albania,ALB,GDP (current US$),3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,7.184686e+09,8.052077e+09,8.896075e+09,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10
4,Andorra,AND,GDP (current US$),1.429048e+09,1.546912e+09,1.755990e+09,2.361636e+09,2.895048e+09,3.159827e+09,3.456265e+09,...,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09
5,United Arab Emirates,ARE,GDP (current US$),1.043374e+11,1.033116e+11,1.098162e+11,1.243464e+11,1.478244e+11,1.806175e+11,2.221165e+11,...,4.002185e+11,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11
6,Argentina,ARG,GDP (current US$),2.842038e+11,2.686968e+11,9.772400e+10,1.275870e+11,1.646579e+11,1.987371e+11,2.325573e+11,...,5.520251e+11,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11
7,Armenia,ARM,GDP (current US$),1.911564e+09,2.118468e+09,2.376335e+09,2.807061e+09,3.576615e+09,4.900470e+09,6.384452e+09,...,1.112146e+10,1.160951e+10,1.055334e+10,1.054614e+10,1.152746e+10,1.245794e+10,1.361929e+10,1.264170e+10,1.386141e+10,1.950278e+10
8,American Samoa,ASM,GDP (current US$),NaN,NaN,5.120000e+08,5.240000e+08,5.090000e+08,5.000000e+08,4.930000e+08,...,6.380000e+08,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.160000e+08,7.090000e+08,NaN
9,Antigua and Barbuda,ATG,GDP (current US$),8.263704e+08,8.004815e+08,8.143815e+08,8.563963e+08,9.197296e+08,1.022963e+09,1.157663e+09,...,1.181448e+09,1.249733e+09,1.336693e+09,1.436585e+09,1.467956e+09,1.604770e+09,1.675404e+09,1.416348e+09,1.560519e+09,1.757604e+09

In [11]:
# create a column to indicate the oil exporting countries and non oil exporting countries
# first create a list of oil exporting countries
oil_countries_list = pd.read_csv("/home/ridwanullahi/Desktop/Work_Space/Play/oil-impact/data/processed/country/countries_list/oil_states.csv")

#convert the oil countries list to a list
oil_countries_list_v1 = oil_countries_list['country_name'].tolist()
oil_countries_list_v1

['Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belize',
 'Bolivia',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Cameroon',
 'Canada',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Croatia',
 'Cuba',
 'Czech Republic',
 "Côte d'Ivoire",
 'Democratic Republic of the Congo',
 'Denmark',
 'East Timor',
 'Ecuador',
 'Egypt',
 'Equatorial Guinea',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guyana',
 'Hungary',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Italy',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kuwait',
 'Kyrgyzstan',
 'Libya',
 'Lithuania',
 'Malaysia',
 'Mexico',
 'Mongolia',
 'Morocco',
 'Myanmar',
 'Netherlands',
 'New Zealand',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Papua New Guinea',
 'Peru',
 'Philippines',
 'Poland',
 'Qatar',
 'Republic of the Congo',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Serbia',
 'Slovakia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sudan',
 'Suriname',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Thailand',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen']

In [18]:
# create a column named state_indicator to indicate the oil exporting countries and non oil exporting countries 
gdp_world_v2['state_indicator'] = gdp_world_v2['country_name'].apply(lambda x: 'Oil Producer' if x in oil_countries_list_v1 else 'Non oil Producer')
gdp_world_v2.describe(include="all") # check the head of the data frame

,country_name,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,state_indicator
count,215,215,215,1.980000e+02,2.000000e+02,2.050000e+02,2.050000e+02,2.050000e+02,2.050000e+02,2.060000e+02,...,2.110000e+02,2.090000e+02,2.080000e+02,2.080000e+02,2.080000e+02,2.070000e+02,2.070000e+02,2.010000e+02,1.840000e+02,215
unique,215,215,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,Aruba,ABW,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non oil Producer
freq,1,1,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135
mean,NaN,NaN,NaN,1.690538e+11,1.664517e+11,1.687161e+11,1.893161e+11,2.134027e+11,2.311101e+11,2.493363e+11,...,3.752669e+11,3.558941e+11,3.636472e+11,3.871531e+11,4.112961e+11,4.190608e+11,4.066845e+11,4.751202e+11,5.383716e+11,NaN
std,NaN,NaN,NaN,8.399145e+11,8.409111e+11,8.535078e+11,9.094992e+11,9.813325e+11,1.038353e+12,1.092097e+12,...,1.517300e+12,1.553354e+12,1.597202e+12,1.684454e+12,1.805815e+12,1.869668e+12,1.860568e+12,2.146745e+12,2.360481e+12,NaN
min,NaN,NaN,NaN,1.507398e+07,1.396473e+07,1.684268e+07,1.945634e+07,2.279827e+07,2.290997e+07,2.409687e+07,...,3.876097e+07,3.681193e+07,4.162906e+07,4.527661e+07,4.801522e+07,5.412320e+07,5.174657e+07,6.019637e+07,6.034939e+07,NaN
25%,NaN,NaN,NaN,1.882779e+09,1.762980e+09,1.947333e+09,2.328658e+09,2.822358e+09,3.032409e+09,3.455340e+09,...,5.880998e+09,5.681469e+09,5.809250e+09,5.968088e+09,6.115337e+09,6.401234e+09,6.145883e+09,7.186429e+09,1.284909e+10,NaN
50%,NaN,NaN,NaN,8.198346e+09,8.233086e+09,7.850809e+09,8.623691e+09,1.013119e+10,1.124387e+10,1.394067e+10,...,2.322591e+10,2.289076e+10,2.378452e+10,2.542640e+10,2.628618e+10,2.688114e+10,2.500827e+10,2.848872e+10,4.436623e+10,NaN
75%,NaN,NaN,NaN,5.443525e+10,5.417964e+10,5.676036e+10,6.786385e+10,7.878247e+10,8.960067e+10,1.105106e+11,...,2.010499e+11,1.667741e+11,1.616763e+11,1.743772e+11,1.904729e+11,1.934621e+11,1.760032e+11,2.148739e+11,2.833504e+11,NaN
max,NaN,NaN,NaN,1.025095e+13,1.058193e+13,1.092911e+13,1.145644e+13,1.221719e+13,1.303920e+13,1.381559e+13,...,1.755068e+13,1.820602e+13,1.869511e+13,1.947734e+13,2.053306e+13,2.138098e+13,2.106047e+13,2.331508e+13,2.546270e+13,NaN

In [17]:
# save the data frame to a csv file
gdp_world_v2.to_csv("/home/ridwanullahi/Desktop/Work_Space/Play/oil-impact/data/processed/gdp/world/gdp_world_final_insight_03.csv",quotechar='"', quoting=csv.QUOTE_ALL, sep=",", index=False)