**The Cleaning Process include The following:**<br>
Remove duplicated  value in the reqiured cell <br>
Rename some column to short and descriptive name <br>
Drop irrelevant column to our analysis

In [1]:
# Import necessary libraries
import pandas as pd
import csv

In [7]:
world_gdp = pd.read_csv("/home/ridwanullahi/Desktop/Work_Space/Play/oil-impact/data/raw/world-gdp/world_gdp.csv")

In [3]:
display(world_gdp.head(10))

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10,NaN
6,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09,NaN
7,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.905733e+12,2.554156e+12,2.537537e+12,2.637112e+12,2.843476e+12,2.868891e+12,2.533377e+12,2.928456e+12,3.557557e+12,NaN
8,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11,NaN
9,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,...,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11,NaN

In [4]:
# Rename Column to short and descriptive name
world_gdp_renamed = world_gdp.rename(
    columns={
        "Country Name": "country_name",
        "Country Code": "country_code",
        "Indicator Name": "currency",
        "Indicator Code": "indicator_code",
    }
)

In [5]:
display(world_gdp_renamed.head(10))

,country_name,country_code,currency,indicator_code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.112502e+10,2.161623e+10,2.350628e+10,2.804836e+10,2.592067e+10,2.947210e+10,...,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.044764e+10,1.117321e+10,1.199053e+10,1.272769e+10,1.389811e+10,1.492979e+10,...,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11,NaN
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10,NaN
6,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09,NaN
7,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.905733e+12,2.554156e+12,2.537537e+12,2.637112e+12,2.843476e+12,2.868891e+12,2.533377e+12,2.928456e+12,3.557557e+12,NaN
8,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11,NaN
9,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,...,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11,NaN

In [6]:
# Drop irrelevant columns to our analysis
world_gdp_v1 = world_gdp_renamed.drop(
    columns=[
        "1960",
        "1961",
        "1962",
        "1963",
        "1964",
        "1965",
        "1966",
        "1967",
        "1967",
        "1968",
        "1969",
        "1970",
        "1971",
        "1972",
        "1973",
        "indicator_code",
        "Unnamed: 67",
    ]
)
display(world_gdp_v1.head(10))

,country_name,country_code,currency,1974,1975,1976,1977,1978,1979,1980,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),8.538065e+10,9.083543e+10,9.021275e+10,1.022406e+11,1.160846e+11,1.342568e+11,1.712178e+11,...,9.859871e+11,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12
2,Afghanistan,AFG,GDP (current US$),2.155555e+09,2.366667e+09,2.555556e+09,2.953333e+09,3.300000e+09,3.697940e+09,3.641723e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),4.441668e+10,5.166719e+10,6.235162e+10,6.559512e+10,7.149650e+10,8.894834e+10,1.124391e+11,...,8.339481e+11,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11
4,Angola,AGO,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,5.930503e+09,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11
5,Albania,ALB,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10
6,Andorra,AND,GDP (current US$),1.865572e+08,2.201129e+08,2.272841e+08,2.539980e+08,3.080203e+08,4.115484e+08,4.463776e+08,...,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09
7,Arab World,ARB,GDP (current US$),1.421376e+11,1.570692e+11,1.955138e+11,2.256765e+11,2.496083e+11,3.379618e+11,4.598046e+11,...,2.859669e+12,2.905733e+12,2.554156e+12,2.537537e+12,2.637112e+12,2.843476e+12,2.868891e+12,2.533377e+12,2.928456e+12,3.557557e+12
8,United Arab Emirates,ARE,GDP (current US$),NaN,1.472073e+10,1.921316e+10,2.487178e+10,2.377577e+10,3.122566e+10,4.359916e+10,...,4.002185e+11,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11
9,Argentina,ARG,GDP (current US$),7.243678e+10,5.243865e+10,5.116950e+10,5.678100e+10,8.904945e+10,6.925233e+10,7.696192e+10,...,5.520251e+11,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11

In [7]:
# drop rows before 2000
selected_columns = ["country_name", "country_code", "currency"] + [
    str(year) for year in range(2000, 2023)
]
gdp_world_2000_2022_v1 = world_gdp_renamed.loc[:, selected_columns]

In [8]:
gdp_world_2000_2022_v1.head(10)

,country_name,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,GDP (current US$),1.873184e+09,1.896648e+09,1.962011e+09,2.044134e+09,2.254749e+09,2.359777e+09,2.469832e+09,...,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.276188e+09,3.395794e+09,2.610039e+09,3.126019e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),2.847593e+11,2.596431e+11,2.665294e+11,3.541768e+11,4.404818e+11,5.139416e+11,5.775869e+11,...,9.859871e+11,1.006526e+12,9.273485e+11,8.851764e+11,1.021043e+12,1.007196e+12,1.000834e+12,9.275933e+11,1.081998e+12,1.169484e+12
2,Afghanistan,AFG,GDP (current US$),NaN,NaN,3.854235e+09,4.539497e+09,5.220825e+09,6.226199e+09,6.971383e+09,...,2.056449e+10,2.055058e+10,1.999814e+10,1.801955e+10,1.889635e+10,1.841886e+10,1.890450e+10,2.014345e+10,1.458314e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),1.409458e+11,1.485295e+11,1.772012e+11,2.052145e+11,2.542648e+11,3.108896e+11,3.969210e+11,...,8.339481e+11,8.943225e+11,7.686447e+11,6.913634e+11,6.848988e+11,7.670257e+11,8.225384e+11,7.864600e+11,8.444597e+11,8.778633e+11
4,Angola,AGO,GDP (current US$),9.129595e+09,8.936079e+09,1.528559e+10,1.781270e+10,2.355206e+10,3.697090e+10,5.238103e+10,...,1.334016e+11,1.372444e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.024137e+10,6.568544e+10,1.067136e+11
5,Albania,ALB,GDP (current US$),3.480355e+09,3.922101e+09,4.348068e+09,5.611496e+09,7.184686e+09,8.052077e+09,8.896075e+09,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.888210e+10
6,Andorra,AND,GDP (current US$),1.429048e+09,1.546912e+09,1.755990e+09,2.361636e+09,2.895048e+09,3.159827e+09,3.456265e+09,...,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.325145e+09,3.352033e+09
7,Arab World,ARB,GDP (current US$),8.201856e+11,8.028811e+11,8.079616e+11,8.938180e+11,1.062737e+12,1.304401e+12,1.545539e+12,...,2.859669e+12,2.905733e+12,2.554156e+12,2.537537e+12,2.637112e+12,2.843476e+12,2.868891e+12,2.533377e+12,2.928456e+12,3.557557e+12
8,United Arab Emirates,ARE,GDP (current US$),1.043374e+11,1.033116e+11,1.098162e+11,1.243464e+11,1.478244e+11,1.806175e+11,2.221165e+11,...,4.002185e+11,4.141054e+11,3.702755e+11,3.692553e+11,3.905168e+11,4.270494e+11,4.179897e+11,3.494730e+11,4.150216e+11,5.075349e+11
9,Argentina,ARG,GDP (current US$),2.842038e+11,2.686968e+11,9.772400e+10,1.275870e+11,1.646579e+11,1.987371e+11,2.325573e+11,...,5.520251e+11,5.263197e+11,5.947493e+11,5.575323e+11,6.436284e+11,5.248199e+11,4.477547e+11,3.855404e+11,4.872271e+11,6.327703e+11

In [9]:
gdp_world_2000_2022_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  266 non-null    object
 1   country_code  266 non-null    object
 2   currency      266 non-null    object
 3   2000          247 non-null    float64
 4   2001          249 non-null    float64
 5   2002          254 non-null    float64
 6   2003          254 non-null    float64
 7   2004          254 non-null    float64
 8   2005          254 non-null    float64
 9   2006          255 non-null    float64
 10  2007          255 non-null    float64
 11  2008          256 non-null    float64
 12  2009          256 non-null    float64
 13  2010          257 non-null    float64
 14  2011          260 non-null    float64
 15  2012          258 non-null    float64
 16  2013          259 non-null    float64
 17  2014          260 non-null    float64
 18  2015          258 non-null    float64
 19  2016          258 non-null    float64
 20  2017          258 non-null    float64
 21  2018          258 non-null    float64
 22  2019          257 non-null    float64
 23  2020          257 non-null    float64
 24  2021          251 non-null    float64
 25  2022          233 non-null    float64
dtypes: float64(23), object(3)
memory usage: 54.2+ KB

In [10]:
gdp_world_2000_2022_v1.describe(include="all")

,country_name,country_code,currency,2000,2001,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
count,266,266,266,2.470000e+02,2.490000e+02,2.540000e+02,2.540000e+02,2.540000e+02,2.540000e+02,2.550000e+02,...,2.590000e+02,2.600000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.580000e+02,2.570000e+02,2.570000e+02,2.510000e+02,2.330000e+02
unique,266,266,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Aruba,ABW,GDP (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,1,266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1.009808e+12,9.989327e+11,1.018485e+12,1.149289e+12,1.306612e+12,1.431442e+12,1.565919e+12,...,2.478712e+12,2.540066e+12,2.401519e+12,2.435923e+12,2.611095e+12,2.773995e+12,2.826373e+12,2.739715e+12,3.211353e+12,3.599794e+12
std,NaN,NaN,NaN,3.967202e+12,3.927871e+12,4.054025e+12,4.548961e+12,5.097409e+12,5.456827e+12,5.842814e+12,...,8.393417e+12,8.604724e+12,8.165752e+12,8.306057e+12,8.840815e+12,9.410423e+12,9.564901e+12,9.318753e+12,1.072358e+13,1.147950e+13
min,NaN,NaN,NaN,1.507398e+07,1.396473e+07,1.684268e+07,1.945634e+07,2.279827e+07,2.290997e+07,2.409687e+07,...,3.861589e+07,3.876097e+07,3.681193e+07,4.162906e+07,4.527661e+07,4.801522e+07,5.412320e+07,5.174657e+07,6.019637e+07,6.034939e+07
25%,NaN,NaN,NaN,3.058488e+09,3.081024e+09,3.145375e+09,3.544559e+09,4.413787e+09,4.956777e+09,5.566381e+09,...,8.486163e+09,9.034786e+09,8.752203e+09,8.620796e+09,9.319389e+09,1.002804e+10,1.038167e+10,9.754600e+09,1.150202e+10,1.567158e+10
50%,NaN,NaN,NaN,1.657753e+10,1.574975e+10,1.584432e+10,1.830358e+10,2.174111e+10,2.422135e+10,2.582551e+10,...,5.094967e+10,5.339986e+10,4.966768e+10,4.980725e+10,5.400064e+10,5.614400e+10,6.028350e+10,5.370680e+10,6.568544e+10,8.227481e+10
75%,NaN,NaN,NaN,2.020133e+11,1.975088e+11,1.982817e+11,2.268685e+11,2.584209e+11,3.106618e+11,3.603232e+11,...,5.390198e+11,5.478564e+11,5.020845e+11,5.057567e+11,5.369244e+11,5.524163e+11,5.439767e+11,5.470542e+11,7.400410e+11,9.911146e+11
max,NaN,NaN,NaN,3.384558e+13,3.363101e+13,3.492512e+13,3.916165e+13,4.413362e+13,4.779359e+13,5.179110e+13,...,7.763515e+13,7.975652e+13,7.521506e+13,7.648645e+13,8.144205e+13,8.650222e+13,8.772810e+13,8.521515e+13,9.688240e+13,1.005620e+14

In [11]:
# Export the dataframe to csv file
gdp_world_2000_2022_v1.to_csv(
    "../data/processed/gdp_world_cleaned_v1.csv",
    sep=",",
    quotechar='"',quoting=csv.QUOTE_ALL,
    index=None,
)